In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('50_Startups.csv')

In [3]:
features = data.drop('State',axis =1)

In [4]:
num_cal = features.columns[features.dtypes!=object]

In [7]:
from sklearn.preprocessing import MinMaxScaler
sc = MinMaxScaler()
features[num_cal] = sc.fit_transform(features[num_cal])

In [8]:
features.describe()

       R&D Spend  Administration  Marketing Spend     Profit
count  50.000000       50.000000        50.000000  50.000000
mean    0.445854        0.533345         0.447292   0.548097
std     0.277608        0.213286         0.259208   0.226974
min     0.000000        0.000000         0.000000   0.000000
25%     0.241527        0.399260         0.274066   0.424920
50%     0.441799        0.543661         0.450876   0.525378
75%     0.614474        0.712221         0.634759   0.704383
max     1.000000        1.000000         1.000000   1.000000